<h1>FAQ</h1>
<p>Find me in app/views/feature/faq.html.erb</p>
<ul>
  <li>How to edit page?</li>
  <li>How long till lunch?</li>
  <li>Am I entitled?</li>
</ul>
<ul>
  <li>How to register?
    <ul>
      <li>Must be 21</li>
      <li>Have perticulars ready</li>
    </ul>
  </li>
  <li>
    How long does it take?
    <ul>
      <li>3 easy steps</li>
      <li>Will be contacted by a consultant once application have been submitted</li>
    </ul>
  </li>
  <li>Questions?</li>
    <ul>
      <li>Go to Contact Us</li>
    </ul>
</ul>
